<!DOCTYPE html>
<html>
  <head>
    <title>Pay With Stripe</title>
  </head>
  <body>
    <div id="content">
      <form action="/payments/submit" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_SfFEOJ30IbciexZavBVyQoZk"
          data-name="Escrow Bot"
          data-amount="<%=amount%>"
          data-description="Escrow Payment"
          data-zip-code="true"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>
    </div>
  </body>
</html>