<!DOCTYPE html>
<html>
  <head>
    <title>Pay With Stripe</title>
  </head>
  <body>
    <div id="content">
      <script>
        (function(){
          var oldLog = console.log;
          console.log = function (message) {
            // document.write('message: ' + message);
            // document.write(typeof(message));
            // message = String(message);
            fetch('https://hospitable-quarter.glitch.me/log', {
              body: JSON.stringify({text: message}), // must match 'Content-Type' header
              cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
              credentials: 'same-origin', // include, same-origin, *omit
              headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
              },
              method: 'POST', // *GET, POST, PUT, DELETE, etc.
              mode: 'cors', // no-cors, cors, *same-origin
              redirect: 'follow', // *manual, follow, error
              referrer: 'no-referrer', // *client, no-referrer
            })
            .then(function(response) {return response.json()}) // parses response to JSON
            oldLog.apply(console, arguments);
          };
        })();
      </script>
      <form action="/payments/submit" method="POST">
        <script>
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_SfFEOJ30IbciexZavBVyQoZk"
          data-name="Escrow Bot"
          data-amount="<% =amount%>"
          data-description="Escrow Payment"
          data-zip-code="true"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>
    </div>
  </body>
</html>